<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>

		<link rel="stylesheet" type="text/css" href="../materialize/css/materialize.css" />
		<script src="../jquery-1.11.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../materialize/js/materialize.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			canvas {
				display: block;
				margin: 150px auto;
				box-shadow: -2px -2px 2px #EFEFEF, 5px 5px 5px #B9B9B9;
			}
		</style>
	</head>

	<body>

		<nav class="indigo accent-3">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">首页</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/login">登陆</a></li>
					<li><a href="/reg">注册</a></li>
					<li>
						<a href="collapsible.html"></a>
					</li>
				</ul>
			</div>
		</nav>

  		<%    if(locals.islogin){  %>

                                     session为真。

                         <%  }else{  %>
									aa

                                 <% } %>       
	</body>

	
</html>