
/*----------------------------------------
    Login Page
------------------------------------------*/
body{
font-family: "微软雅黑";	
}

#login-page{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -162px;;
	margin-top:-280px;
}

.login-form {
}
.login-form-text{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.profile-image-login{
  width: 100px;
  height: 100px !important;
}

.login-text {
  margin-top: -6px;
  margin-left: -6px !important;
}

